.container-Authe{
    display: flex;
    border-radius: 4px;
    /* margin-top:  150px; */
    margin-right:200;
    justify-content: center;
    padding-top: 80px;
    /* background-image:url('./temp5.jpg') ;
    background-repeat: no-repeat;
    background-size: 1500px 1100px;
    background-position: center; */
    height: 900px;
    
}

.text-content{
 width: 33rem;
 height: 40rem;
 display: flex;
 align-items: center;
 background-image: url("./DataReportsBg15.jpg");
 
}
.Header{
    display: flex ;
    margin-top: 50px;
    color: #fff;
}
.Title{
    display: flex;
    margin-top: 30px;
    color: #fff;
}
/* .input-containe{
    margin-top: 40;
} */
.input-container > label {
    color: #fff;
}
.button-container > label{
    color: #fff;
}
.card{
    width: 33rem;
    height: 40rem ;
}
/* .container-Authe{
    background-image:url('./vra_logo.png') ;
    background-size: 800px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;  

} */

