.main-div {
  background: url("../images/newBack1.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  color: white;
  font-family: Arial;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  font-size: 30px;
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
}

.left input {
  border: 0;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  padding: 2px 10px;
  margin: 18px 4px 0px 4px;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
}

.left input:required {
  box-shadow: none;
}

.left input:focus~label {
  opacity: 1;
  box-shadow: none;
}

.right {
  padding-right: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.each-input {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.right .sub-head {
  font-size: 35px;
}

.textLogin {
  font-size: 23px;
  text-align: center;
}

.text-head {
  margin-left: 10%;
  font-size: 40px;
  color: antiquewhite;
  font-weight: 700;
}

.app-btn {
  font-size: 27px;
  padding: 0.5%;
  margin-top: 2%;
  padding: 1px 10px 1px 10px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  border-color: white;
}

.login-btn {
  width: 30%;
}

.app-btn:hover {
  background: rgb(172, 168, 168);
}

.logo-heading {
  display: flex;
  justify-content: center;
}

.forgot-password {
  color: rgb(0 166 202);
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  align-self: baseline;
}

.password-block-login {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.password-block-login svg {
  position: absolute;
  top: 46%;
  right: 4%;
  cursor: pointer;
}
@media (max-width: 400px){
  .main-div{
    background-image: url("../images/newBack1.png") 0 0 repeat;
    font-family: Arial;
    display:inline-table; 
   height: auto;
  
  }
  .right{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-left: 5rem;
  }
}
@media (min-width: 800px){
  .right{
    padding-left: 8rem;
  }
  .left{
    padding-left: 4rem;
  }
}