@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.registerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: url("../images/newBack18.png"), -webkit-linear-gradient(bottom, #c8d9f3, #30213f);
  background-repeat: no-repeat;
  background-size: cover;
}

::selection {
  color: #fff;
  background: #031b3f;
}

.container2 {
  background: rgb(253, 252, 252, 0.5);
  text-align: center;
  border-radius: 5px;
  /* padding: 0 0 px 0; */
  width: 20%;
  min-width: 600px;
}

.container2 header {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.container1 .form-outer1 {
  width: 100%;
  overflow: hidden;
}

.containe2 .form-outer1 form {
  display: flex;
  width: 400%;
}

.heading {
  width: 100%;
  /* background-color: #031b3f; */
  /* color: white; */
  padding: 20px 0 0px 0;
}

.form-outer1 form .register-page {
  display: flex;
  flex-direction: column;
  /* width: 25%; */
  /* color: #031b3f; */
  align-content: center;
}

.form-outer1 form .register-page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 3%;
  margin-left: 2%;
}

.form-outer1 form .register-page .field {
  width: 100%;
  height: 30px;
  margin: 0 0 3% 3%;
  display: flex;
  flex-direction: row;
  position: relative;
}

form .register-page .field .label {
  /* color: #031b3f; */
  top: -30px;
  display: flex;
  font-weight: 500;
  justify-content: center;
}

form .register-page .field input {
  height: 100%;
  position: absolute;
  width: 50%;
  /* border: 1px solid; */
  border-radius: 5px;
  padding-left: 5px;
  font-size: 12px;
  margin-left: 40%;
}

.err {
  border: 1px solid red;
}

form .register-page .field button {
  border: none;
  background: #014E6A;
  margin-top: 1%;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius:7px;
}

form .register-page .field button:disabled {
  background: #dddddd;
}

form .register-page .field button:disabled:hover {
  background: #dddddd;
}

.email-length {
  width: 32% !important;
}

.code-button {
  height: 100%;
  position: absolute;
  right: 10%;
}

.button {
  display: flex;
  justify-content: center;
}

.next {
  height: 100%;
  right: 40%;
  width: 30%;
  justify-content: center;
}

form .register-page .field button:hover {
  background: grey;
}

.field svg {
  position: absolute;
    right: 11%;
    top: 10%;
}