.password-block {
    position: relative;
    display: flex;
    margin-bottom: 14px;
}


.password-block svg {
    position: absolute;
    top: 20%;
    right: 2%;
    cursor: pointer;
}

.pass-error{
    border-color: #dc3545 !important;
}

.password-warning{
    font-size: 13px;
    color: #0d6efd;
}

.warning-error{
    color: #dc3545;
}