

  .license-card{
    transition: 0.3s;
    flex: 0 0 auto;
    
  }

  .license-card:hover{
    box-shadow: 2px 2px 7px 7px rgb(129, 127, 127);
  }

  
.license-type-container{
    background-color: #f8f9fa;
}

.license-type-title{
    padding-top: 20px;
    padding-left: 10px;
    height:60px;
    display:flex;
    align-items: center;
    /* justify-content: center; */
}

.license-type-subtitle{
    padding-left: 10px;
    /* height:60px; */
    display:flex;
    align-items: center;
    /* justify-content: center; */
    font-style: italic;
    color:grey;
}

.license-type-body{
    padding:20px 20px 20px 20px;
}

.license-cards{
    display:flex;
    width:100%;
    /* flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden; */
}

.license-body-grid{
    display:grid;
}

.licence-types-card{
    background-color: rgb(226, 224, 224);
    width: 440px;
    height:600px;
    border-radius: 45px;
    padding-left: 30px;
}

.license-description{
    color:rgb(15, 15, 15);
    width:380px;
    padding-top: 30px;
    padding-left: 15px;
}

.license-card-alignment{
    margin-top: 20px;
}

.demo-cards{
    background-color: transparent !important;
    border-color: transparent !important;
    transition: 0.3s;
}

.demo-cards:not(:first-child){
    margin-left: -18rem;
}

.demo-cards:hover{
    transform: translateY(-1rem);
}

.demo-cards:hover ~.demo-cards{
    transform: translateX(10rem);
}

@media (max-width: 500px){
.license-type-subtitle{
    padding-top: 10px;
}
.license-type-container{
    background-color: #f8f9fa;
    width: 400px;
    height: 1900px;
    
       
}
.license-cards{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 0px;
    
}
.licence-types-card{
    width: 400px;
    height:600px;
    border-radius: 35px;
    padding-left: 10px;
}
.demo-cards{
    height: 900;
}
.demo-cards:not(:first-child){
    margin-left: 0rem;
    margin-top: -24rem;
}
.demo-cards:hover{
    transform: translateY(-2rem);
}
.demo-cards:hover ~.demo-cards{
    transform: translateY(16rem);
}
.license-body-grid{
    padding-right: 4rem;
}
.license-type-body{
    padding: 0px 0px 0px 0px;
}

}


@media (min-width: 700px)and (max-width:1000px){
.license-type-subtitle {
    padding-top: 10px;
}
.license-type-container{
    background-color: #f8f9fa;
    width: 570px;
    height: 1930px;
    
}
.license-cards{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 20px;
}
.demo-cards:not(:first-child){
    margin-left: 0rem;
    margin-top: -24rem;
}
.demo-cards:hover{
    transform: translateY(0rem);
}
.demo-cards:hover ~.demo-cards{
    transform: translateY(19rem);
}
}