.text-field {
  width: 100%;
  color: black;
  height: 40px;
  border: 1.5px solid #c7c7c7;
  border-radius: 4px;
  font-size: 18px;
}
.text-field:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.left-menu {
  background: transparent;
  color: #014e6a;
  text-align: left !important;
  width: 212px;
  border: none !important;
  font-size: 16px !important;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.left-menu:hover {
  text-align: left !important;
  width: 212px;
  border: none !important;
  font-size: 20px !important;
  color: #016a59;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.user-prof-list {
  width: 100%;
}

.user-hr {
  height: 5px;
  color: #d6d6d6 !important;
  width: 80%;
}
.rowtop{
  height: 160px;
}

@media (max-width: 500px){
 .rowtop{
  height: 10px;
 }
 .card-padding{
  padding-left: 0 !important;
  height: auto;
 }
}