$main-font: Roboto, Arial, "sans-serif";
$primary-color: #014E6A;
$secondary-color: #016A52;
$tertiary-color: #011A6A;
$white-color: #FFFFFF;
$black-color: #000000;


html,body{
	padding:0;
	margin:0;
	border:0;
	font-family: $main-font;
}
*, :after, :before {
    box-sizing: border-box;
	zoom:1;
}
a{
	color:$primary-color;
	&:hover{
		color:$secondary-color;
	}
}
img{
	display:inline-block;
	vertical-align: bottom;
	height:auto;
	max-width:100%;
}
.mh-100{min-height:100%;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: bottom;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.primary-bg{background-color:$primary-color;}
.secondary-bg{background-color:$secondary-color;}
.tertiary-bg{background-color:$tertiary-color;}
.primary-color{color:$primary-color;}
.secondary-color{color:$secondary-color;}
.tertiary-color{color:$tertiary-color;}
.primary-border-color{border-color:$primary-color;}
.secondary-border-color{border-color:$secondary-color;}
.tertiary-border-color{border-color:$tertiary-color;}
.btn-primary{
	color: $white-color;
	background-color: $primary-color;
	border-color: $primary-color;
	&:hover {
		color: $white-color;
		background-color: $secondary-color;
		border-color: $secondary-color;
	}
}
.btn-secondary{
	color: $white-color;
	background-color: $secondary-color;
	border-color: $secondary-color;
	&:hover {
		color: $white-color;
		background-color: $tertiary-color;
		border-color: $tertiary-color;
	}
}

/*Header*/
header{
	.main-logo{
		img{
			max-width:150px;
		}
	}
	.btn{
		&:hover{
			background:$primary-color;
			color:$white-color;
		}
		
		i{
			margin-right:5px;
		}
	}
}
nav{
	margin-left:20px;
	
	li{
		padding:0 15px;
	}
	a{
		color:$primary-color;
		text-decoration: none;
		font-weight:400;
		position: relative;
		padding:5px 0;
		
		&:hover{
			color:$secondary-color;
			&:after{
				width:100%;
			}
		}
		
		&:after{
			height:2px;
			bottom:0;
			left:0;
			width:0;
			background-color:$secondary-color;
			position: absolute;
			content:"";
			display:block;
			transition:all 0.3s linear;
		}
	}
}

/*Hero*/
.home-hero{
	position:relative;
	overflow:hidden;
	padding:5vh 0;
	min-height:630px;
	
	&:after{
		height:100%;
		width:100%;
		top:0;
		left:0;
		background-color:$primary-color;
		position: absolute;
		content:"";
		display:block;
		opacity:.5;
		z-index:1;
	}
	
	video{
		position: absolute;
		left:50%;
		top:50%;
		transform: translate(-50%, -50%);
		width:100%;
		height:auto;
		z-index: -2;
	}
	
	.container{
		z-index:2;
		position: relative;
	}
}

/*Sub Hero*/
.sub-hero{
	position:relative;
	overflow:hidden;
	padding:5vh 0;
	min-height:330px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	&:after{
		height:100%;
		width:100%;
		top:0;
		left:0;
		background-color:$primary-color;
		position: absolute;
		content:"";
		display:block;
		opacity:.5;
		z-index:1;
	}
	.container{
		z-index:2;
		position: relative;
	}
}
hr{
	&.smallbar{
		margin:25px auto;
		width:100%;
		max-width:250px;
		height:3px;
		border:0;
		opacity: .5;
	}
}
.border-right {
    border-right: 1px solid #dee2e6!important;
}
.border-left {
    border-left: 1px solid #dee2e6!important;
}

.nav-sidebar{
	a{
		display:block;
		padding:5px;
		margin-bottom:5px;
		text-decoration: none;
		font-size:14px;
		border: 1px solid #dee2e6;
    	border-radius: 5px;
		
		i{
			font-size:20px;
			margin-right:5px;
			display:inline-block;
			width:20px;
			text-align: center;
		}
		
		&:hover{
			color:$white-color;
			background-color:$secondary-color;
			border-color:$secondary-color;
		}
	}
}

.profile-link{
	display:inline-block;
	text-decoration: none;
	margin-right:20px;
}
.profile-img{
	border-radius: 50%;
	width:250px;
	height:250px;
	object-fit: cover;
	object-position: center;
	display:inline-block;
	vertical-align: middle;
	overflow:hidden;
}
.profile-small{
	width:50px;
	height:50px;
	margin-right:5px;
}
.profile-title{
	font-style: italic;
}
a.card{
	text-decoration: none;
	transition: all .3s linear;
	
	i{
		font-size:5em;
	}
	
	.h4{
		padding-top:1em;
	}
	*{
		transition: all .3s linear;
	}
	&:hover{
		background:#014E6A;
		box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
		color:#fff;
		
		*{
			color:#fff;
		}
	}
}
table{
	.btn{
		background:#fff;
		&:hover{
			color:#ffffff;
			background-color: #014E6A;
		}
	}
	&.table-striped>tbody>tr:nth-of-type(odd){
		background:#f8f9fa;
		--bs-table-accent-bg:empty;
	}
}
.pagination{
	justify-content: flex-end;
	
	a{
		color: #014E6A;
		&:hover{
			color: #014E6A;
		}
	}
}

/*Footer*/
footer ul,
footer li{
	margin:0;
	padding:0;
	list-style:none;
}
footer{
	font-size:14px;
	a{
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	.nav{
		a{
			display:block;
			padding:5px;
			font-size:20px;
		}
	}
}

@media (min-width: 1200px){
	.h1, h1 {
		font-size: 2.1rem;
	}
}

@media (max-width: 1065px){
	.home-hero{
		video {
			width: auto;
			height: 100%;
		}
	}
}

@media (max-width: 991px){
	html.h-100,
	body.h-100{
		height:auto !important;
		min-height: 100%;
	}
	header{
		.nav{
			padding-top:10px;
			padding-bottom:10px;
		}
	}
	.home-hero{
		padding:0;
	}
	.nav-sidebar{
		&.border-right{
			border-right:0 !important;
		}
	}
	footer{
		.col-md-3:last-child{
			h5{
				padding-top:15px;
			}
		}
	}
}