html, body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Roboto, Arial, "sans-serif"; }

*, :after, :before {
  box-sizing: border-box;
  zoom: 1; }

a {
  color: #014E6A; }
  a:hover {
    color: #016A52; }

img {
  display: inline-block;
  vertical-align: bottom;
  height: auto;
  max-width: 100%; }

.mh-100 {
  min-height: 100%; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: bottom;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.primary-bg {
  background-color: #014E6A; }

.secondary-bg {
  background-color: #016A52; }

.tertiary-bg {
  background-color: #011A6A; }

.primary-color {
  color: #014E6A; }

.secondary-color {
  color: #016A52; }

.tertiary-color {
  color: #011A6A; }

.primary-border-color {
  border-color: #014E6A; }

.secondary-border-color {
  border-color: #016A52; }

.tertiary-border-color {
  border-color: #011A6A; }

.btn-primary {
  color:#014E6A;
  background-color: white;
  border-color: #80808047; 
  font-size: 14px;
}
  .btn-primary:hover {
    color: #FFFFFF;
    background-color: #016A52;
    border-color: #016A52; }

.btn-secondary {
  color: #FFFFFF;
  background-color: #016A52;
  border-color: #016A52; }
  .btn-secondary:hover {
    color: #FFFFFF;
    background-color: #011A6A;
    border-color: #011A6A; }

/*Header*/
header .main-logo img {
  max-width: 150px; }
header .btn:hover {
  background: #014E6A;
  color: #FFFFFF; }
header .btn i {
  margin-right: 5px; }

nav {
  margin-left: 20px; }
  nav li {
    padding: 0 15px; }
  nav a {
    color: #014E6A;
    text-decoration: none;
    font-weight: 400;
    position: relative;
    padding: 5px 0; }
    nav a:hover {
      color: #016A52; }
      nav a:hover:after {
        width: 100%; }
    nav a:after {
      height: 2px;
      bottom: 0;
      left: 0;
      width: 0;
      background-color: #016A52;
      position: absolute;
      content: "";
      display: block;
      transition: all 0.3s linear; }

/*Hero*/
.home-hero {
  position: relative;
  overflow: hidden;
  padding: 5vh 0;
  min-height: 630px; }
  .home-hero:after {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #014E6A;
    position: absolute;
    content: "";
    display: block;
    opacity: .5;
    z-index: 1; }
  .home-hero video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: -2; }
  .home-hero .container {
    z-index: 2;
    position: relative; }

/*Sub Hero*/
.sub-hero {
  position: relative;
  overflow: hidden;
  padding: 5vh 0;
  min-height: 330px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .sub-hero:after {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #014E6A;
    position: absolute;
    content: "";
    display: block;
    opacity: .5;
    z-index: 1; }
  .sub-hero .container {
    z-index: 2;
    position: relative; }

hr.smallbar {
  margin: 25px auto;
  width: 100%;
  max-width: 250px;
  height: 3px;
  border: 0;
  opacity: .5; }

.border-right {
  border-right: 1px solid #dee2e6 !important; }

.border-left {
  border-left: 1px solid #dee2e6 !important; }

.nav-sidebar a {
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #dee2e6;
  border-radius: 5px; }
  .nav-sidebar a i {
    font-size: 20px;
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    text-align: center; }
  .nav-sidebar a:hover {
    color: #FFFFFF;
    background-color: #016A52;
    border-color: #016A52; }

.profile-link {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px; }

.profile-img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden; }

.profile-small {
  width: 50px;
  height: 50px;
  margin-right: 5px; }

.profile-title {
  font-style: italic; }

a.card {
  text-decoration: none;
  transition: all .3s linear; }
  a.card i {
    font-size: 5em; }
  a.card .h4 {
    padding-top: 1em; }
  a.card * {
    transition: all .3s linear; }
  a.card:hover {
    background: #014E6A;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    color: #fff; }
    a.card:hover * {
      color: #fff; }

table .btn {
  background: #fff; }
  table .btn:hover {
    color: #ffffff;
    background-color: #014E6A; }
table.table-striped > tbody > tr:nth-of-type(odd) {
  background: #f8f9fa;
  --bs-table-accent-bg:empty; }

.pagination {
  justify-content: flex-end; }
  .pagination a {
    color: #014E6A; }
    .pagination a:hover {
      color: #014E6A; }

/*Footer*/
footer ul,
footer li {
  margin: 0;
  padding: 0;
  list-style: none; }

footer {
  font-size: 14px; }
  footer a {
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }
  footer .nav a {
    display: block;
    padding: 5px;
    font-size: 20px; }

@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 2.1rem; } }
@media (max-width: 1065px) {
  .home-hero video {
    width: auto;
    height: 100%; } }
@media (max-width: 991px) {
  html.h-100,
  body.h-100 {
    height: auto !important;
    min-height: 100%; }

  header .nav {
    padding-top: 10px;
    padding-bottom: 10px; }

  .home-hero {
    padding: 0; }

  .nav-sidebar.border-right {
    border-right: 0 !important; }

  footer .col-md-3:last-child h5 {
    padding-top: 15px; } }

    .btn-submit-comp{
      margin-right: 10px;
    }


.window-header{
  background-color:#014E6A ;
  color:white;
}

.req-field-msg{
    font-size: 10px;
    color:rgba(155, 150, 150, 0.964);
}

.text-color-red{
  color:red;
}