.card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(12, 11, 11, 0.662);
    transition: 0.3s;
    width: 380px !important;
    height: 80px !important;
    background-color: transparent !important;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(12, 12, 12, 0.659);
  }

  .bg-color{
      background-color: rgba(69, 69, 126, 0.468);
  }

.datareports-title{
  background-color: #014E6A;
  color: white;
  border-radius: 5px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}