.center-text-WebData{
    display: flex;
    align-items: center;
    justify-content: center;
    height:400px;
}

.webdata-title{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height:50px;
}

.webdata-container{
    padding: 40px 8px 40px 8px;
    margin-top:10px;
    background-color: rgb(255, 255, 255);
    border-radius:5px;
    transition: 0.5s;
}

.webdata-container:hover{
    box-shadow: inset 0 0 20px #f7f4f4;
}

.tabs-class .nav-link{
    background-color: #014E6A !important;
    color: white !important;
}

.tabs-class .nav-link.active{
    background-color:  white !important;
    color: #014E6A !important;
    font-weight: bolder;
}

.client-search-bar{
    height:200px;
    display:flex;
}

.client-search-letters{
    background-color: #d1e8f0 ;
    height:200px;
    border-radius:5px 5px 5px 5px;
    display:flex;
    position: relative;
}

.alphabets-container{
    display:flex;
    width: 100%;
    height:30px;
    position:absolute;
    bottom:20px;
}

.reset-button-container{
    position:absolute;
    bottom:55px;
    right:5px;
}

.client-search-input{
    /* padding-left:10px;
    padding-top:15px; */
    height:200px;
    /* width:250px; */
    background-color: #014E6A ;
    border-radius:5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alphabet-buttton{
    background-color: #f9f9f9; /* Green */
    border: black;
    color: rgb(25, 22, 22);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    width:30px;
    height:50px;
}

.reset-button{
    height:50px;
    width:150px;
    border:none;
    font-weight: bolder !important;
    border-radius: 5px;
    transition: 0.3s;
    background-color: #f9f9f9; /* Green */
}

.reset-button:hover{
    background-color: #107aa0a2;
    color:white
}

.client-search-inputfield{
    border-radius: 5px;
    height:40px;
    border:none;
}

.cards-container{
    padding-top:20px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows:auto; 
    grid-gap:1rem;
}

.card-style{
    height:300px !important;
    width:300px !important;
    transition: 0.5s;
}

.card-style:hover{
    height:300px;
    width:300px;
    background-color: #107aa0a2 ;
    color:white;
    box-shadow: 10px 10px 20px #807d7d;
}

.card-title-clients{
    /* text-decoration: none !important; */
    font-weight:bold !important;
    font-size: 25px !important;
}

.card-link-clients{
    text-decoration: none !important;
    font-weight:500 !important;
}

.client-accounts-stats{
    display:flex;
    padding: 20px 20px 20px 20px;
}

.client-accounts-stats-style{
    font-weight: 450;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    height:100px;
    width:160px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border-color: white;
}



