.client-details-modal{
    width: 85% !important;
    /* height: 70% !important; */
    /* display:flex !important; */
    /* align-content: center; */
}

.pie-chart-size{
    width:20%;
    height: 50%;
    display: flex;
}

.view-details-body{
    background-color: rgb(176, 228, 232);
}