.platting-title{
    font-size: 33px;
    font-weight: bold;
    height:50px; 
    border-radius:6px;
    background-color:rgb(1, 78, 106); 
    color:white; 
    display:flex; 
    align-items:center; 
    justify-content:center;
}

.platting-upload-card{
    border: none !important;
    transition: 0.3s;
}

.platting-upload-card:hover{
    cursor: pointer;
}

.platting-upload-card-body{
    width:360px !important;
    height: 242px !important;
    font-size: large;
}

.platting-card-image{
    top:20px; 
    width: 9rem; 
    height: 9rem; 
    object-fit:cover; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
    transition: 0.3s;
}

.platting-card-image:hover {
    transform: scale(1.3);
}