.table-bordered1{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;

}
@media screen and (max-width: 600px) {
    table thead {
      display: none;
    }
    table td {
      display: flex;
    }
    
    table td::before {
      content: attr(label);
      font-weight: bold;
      width: 120px;
      min-width: 120px;
    }
  }