.footer-links {
  width: 100px;
  max-width: 100px;
  display: flex;
  justify-content: center;
}

.login-img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin-left: 69%;
}

.dash-text {
  color: #fff;
  align-items: center;
  text-decoration: none;
  margin-left: 2%;
  width: 18%;

}

.new-project-card:hover {
  border: 2px solid black;
  border-radius: 5px;
  height: 16rem;
}

.thead-dark {
  background-color: #014E6A;
  color: white;
  border-radius: 15px;
}

.table-curve-edges {
  border-radius: 15px;
}

/* Inactive tab */
.myClass .nav-link {
  background-color: white !important;
  color: #014E6A !important;
}


/* Active tab */
.myClass .nav-link.active {
  background-color: #014E6A !important;
  color: white !important;
}

/* .new-project-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color:black;
  text-decoration: none !important;
  font-size: 25px;
} */

.userprofile-icon {
  height: 420px !important;
}


.new-project-upload-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:grey; */
}

.new-project-upload-card {
  /* width:270px !important;
  height: 242px !important; */
  /* border: none !important; */
  transition: 0.2s;
  width: 100% !important;
  height: 100% !important;
  border-radius: 3px !important;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px !important;
  /* background-color:rgb(171, 223, 233) !important; */
}

.new-project-upload-card:hover {
  cursor: pointer;
  /* transform: scale(1.05); */
}

.new-project-upload-card-body {
  font-size: large;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.new-project-card-image {
  object-fit: fill !important;
  width: 180px !important;
  height: 180px !important;

}

.free-trial-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-trial {
  background-color: #fafafa;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  background-image: url("./VRALite.jpg");
  background-size: cover;
}

.free-trial:hover {
  cursor: pointer;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7); */
}


.trial-heading {
  color: rgb(11, 11, 11);
  padding: 10px;
}

.vra-lite-button {
  position: absolute;
  bottom: 10px;
  font-weight: 700px !important;
  background-color: rgb(233, 233, 95, 0.9) !important;
  border-radius: 60px !important;
  border: none !important;
  display: flex !important;
  justify-content: center;
}

.vra-lite-button:hover {
  color: black !important;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardstyle {
  top: 8px;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 70% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*phone view */
@media (max-width: 500px) {
  .userprofile-icon {
    height: 350px;
    width: 120px;
  }

  .cardstyle {
    top: 8px;
    width: 5rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 70% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


/*iPad View */
@media (min-width: 700px)and (max-width:1000px) {
  .userprofile-icon {
    height: 510px;
    width: 120px;
  }

  .card-body {
    height: 250px;
    font-size: x-small;
  }

}