.side-menu-btn{
    text-align:left !important;
    width:212px;
}
.btn-primary{
    text-align: left;
    width: 212px;
}
.fa-building{
    margin-right: 5px;
}

/*phone view */
@media (max-width: 500px){
.btn-primary{
    width: 212px !important;
}
}
/*iPad View */
@media (min-width: 700px)and (max-width:1000px){
.btn-primary{
    width: 112px !important;
}
}