.our-products-modal{
    width: 60% !important;
    /* height: 70% !important; */
    /* display:flex !important; */
    /* align-content: center; */
}

.our-products-body{
    background-color: rgb(251, 251, 251);
}

.our-products-card{
    width: 380px !important;
    height: 550px !important;
    border-radius: 10px !important;
    transition: 0.3s;
}

.our-products-card:hover{
    box-shadow: 5px 5px 8px 8px  grey;
}

.our-products-image{
    height:40% !important;
    border-radius: 10px 10px 0 0  !important;
}

.card-link{
    text-decoration: none !important;
    cursor: pointer;
    transition: 0.1s;
}

.card-link:hover{
   font-weight: bolder !important;
}

.our-products-title{
    display:flex !important;
    align-items: center;
    align-content: center;
    justify-content: center !important;
}

.our-products-button{
    color: white !important;
    background-color: #014E6A !important;
    border-color: #014E6A !important;
    font-size: 14px !important;
    float:right;
}

.our-products-header{
    background-color:#014E6A !important;
    color:white !important;
}

.sstext{
    text-overflow: ellipsis; 
}