.print-report{
    background-color:rgb(48, 138, 139) !important;
    color:white !important;
    border:None !important;
    border-radius: 0px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 8px 0 rgba(0, 0, 0, 0.25);
}

.print-button-container{
    /* float:center; */
    position:absolute;
    bottom:5%;
    display: flex;
    justify-content: center;
    width:100%;
}

