.vra-lite-modal-header{
    height: 50px !important;
}

.vra-lite-modal-title{
    font-size: 20px !important;
}

/* .cancel-button{
    background-color: rgb(169, 27, 27) !important;
    color:White !important;
    border:none !important;
} */

.generate-button{
    background-color: #014E6A  !important;
    color:White !important;
    border:none !important;
    float:right;

}
