.vra-lite-bg{
    background-image: linear-gradient(
        rgba(176, 226, 234, 0.2), 
        rgba(176, 226, 234, 0.2)
      ),url("./VRALiteBG.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    /* margin: auto; */
    background-size: cover;
    width:100%;
    height:1055px;
    position: relative;
}

.vra-lite-report-title{
    font-size: 40px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgba(245, 246, 246,0.8);
    color:#030000;
    position: relative;
    top: 120px;
    width:80%;
    height:65px;
    display:flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.cards-container-x{
    background-color: rgba(245, 246, 246,0.8);
    /* max-width: 1280px; */
    width:90%;
    height:75%;
    position:relative;
    left:5%;
    top:15%;
    /* margin:0 auto; */
    /* display: flex; */
}


.site-address{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    position: relative;
    left:20px;
    width: fit-content;
    height:fit-content;
    display: inline-block;
}

.mailing-address{
    position:relative;
    left:20px;
    width: fit-content;
    height:fit-content;
    /* display: inline; */
}

.pcn-folio-acerage-container{
    height:fit-content;
    width: fit-content;
    position: relative;
    left:20px;
    right:20px;
    /* display:inline; */
}

.pcn, .folio, .acerage {
    position: relative;
    padding:5px 10px 5px 10px;
}

.puse-pzoning-platbook{
    height:fit-content;
    width: 100%;
    position: relative;
    left:20px;
    right:20px;
    padding-top: -5rem;
    /* display:inline; */
}

.p-use, .p-zoning, .p-book {
    position: relative;
    padding:5px 10px 5px 10px;
}

.legal-description{
    height:fit-content;
    /* width: 800px; */
    position: relative;
    left:20px;
    right:20px;
    /* display:inline; */
}


