.upload-button{
    color: white !important;
    background-color: #014E6A !important;
    border-color: #014E6A !important;
    font-size: 14px !important;
    float:right;
}

.upload-button:hover{
    background-color: #044541 !important;
    border-color: #014E6A !important;
}

.zoning-form-label{
    color:#080808 !important;
    font-weight: bold !important;
}

.zoning-modal{
    background-color: rgba(203, 47, 47, 0) !important;
}

.zoning-modal-header{
    background-color:#014E6A !important;
    color:white !important;
}
