.manuals-title{
    height:60px;
    display:flex;
    align-items: center;
}

.manuals-body{
    margin-top:20px;
}

.usermanual-cards{
    border:none !important;
    transition: 0.3s !important;
    width: 250px !important;
    height: 300px !important;
    background-color: transparent !important;
    border-radius: 15px !important;
}

.usermanual-cards:hover{
    border:none !important;
    box-shadow: 0 8px 16px 0 rgba(12, 12, 12, 0.659);
}

.usermanual-cards-button{
    width:150px !important;
    height:50px !important;
    /* background-color: rgb(1, 78, 106) !important; */
    font-weight: bold !important;
    font-size: large !important;
    border-radius: 10px !important;
}

.usermanual-cards-button:hover{
     background-color: rgb(1, 78, 106) !important;
}

.usermanual-cards-body{
    display:flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: xx-large;
    font-weight: bold;
}

.usermanual-cards-image{
    width: 200px;
    height: 200px;
}

